.header_nav
{
    display: inline-block;
    max-height: 20%;
    height:fit-content;
    width:100%;
    background-color:white;
    border-radius: 15px;
    align-content: center;
}

.title{
    display: inline-block;
    width: 100%;
    font-size: 33px;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    color: #010156;
}
.title:hover{
  border-color:black;
  color: #0000ff ;
  transition: color 0.9s ease;
}

.header_logo{
    display: inline-block;
    width: fit-content;
    padding: 5px;
    
}

.logo{
    margin-left: 10px;
}

.Responsive_images{
    height: auto;
    max-width:100%;
    
}

.sub{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
    }
.sub:hover{
    color: blue;
    transition: 0.6s ease;
}

 
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  
  
  @media (min-width: 40em) {
    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  
  /*Footer*/
.contact_items{
  list-style: none;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}

.contact_address{
  list-style: none;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}
.icons{
  padding-right: 10px;
  display: inline;
}

.icons_address{
  padding-right: 5px;
  display: inline;
  
}
i{
  color:red;
}

.footer{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:#010156;
}

.grid_address{
 padding-left: 25px; 
 padding-top: 15px;
 padding-bottom: 20px;
 color: white;
 
}

.grid_contact{
  color: white;
  padding-top: 20px;
  padding-left: 20px; 
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}




.grid_items{
  color: white;
  padding-left: 25px; 
  padding-top: 20px;
}

@media (max-width: 936px) { 
  .footer{
      display: block;
      width: 100%;
  }
  .grid_items{
      text-align: center;
  }
  .grid_address{
      text-align: center;
  }
  .grid_contact{
      text-align: center;
  }
}
@media (max-width: 450px) { 
  .footer{
      display: block;
      width: 100%;
  }
  .grid_items{
      text-align: center;
      font-size: medium;
      padding-left: 2px;
      padding-right: 2px;
  }
  .grid_address{
      text-align: center;
      font-size: medium;
      padding-left: 2px;
      padding-right: 2px;
  }
  .grid_contact{
      text-align: center;
  }
}
@media (max-width: 375px) { 
  .footer{
      display: block;
      width: 100%;
  }
  .grid_items{
      text-align: center;
      font-size: medium;
      padding-left: 0px;
      padding-right: 0px;
  }
  .grid_address{
      text-align: center;
      font-size: medium;
      padding-left: 0px;
      padding-right: 0px;
  }
  .grid_contact{
      text-align: center;
  }
}
  
  

.sub_news{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: pulse 1.5s infinite;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
}

  
  @keyframes pulse {
      0% {
          color: violet;
          border-color: violet;
      }
      20% {
          color: indigo;
          border-color: indigo;
      }
      40% {
          color: blue;
          border-color: blue;
      }
      60% {
          color: green;
          border-color: green;
      }
      80% {
          color: yellow;
          border-color: yellow;
      }
      100% {
          color: red;
          border-color: red;
      }
  }