.header_nav
{
    display: inline-block;
    max-height: 20%;
    height:fit-content;
    width:100%;
    background-color:white;
    border-radius: 15px;
    align-content: center;
}

.title{
    display: inline-block;
    width: 100%;
    font-size: 33px;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    color: #010156;
}
.title:hover{
    border-color:black;
    color: #0000ff ;
    transition: color 0.9s ease;
}

.header_logo{
    display: inline-block;
    width: fit-content;
    padding: 5px;
    
}

.logo{
    margin-left: 10px;
}

.Responsive_images{
    height: auto;
    max-width:100%;
    
}

.sub{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
    }
.sub:hover{
    color: blue;
    transition: 0.6s ease;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }
  
  table,th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color:#010156;
    color: white;
  }
.list{
  padding:30px;
}
  @media (max-width: 628px) { 
    .list{
      padding:0px;
    }
  }

  /*Footer*/
.contact_items{
    list-style: none;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
  }
  
  .contact_address{
    list-style: none;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
  }
  .icons{
    padding-right: 10px;
    display: inline;
  }
  
  .icons_address{
    padding-right: 5px;
    display: inline;
    
  }
  i{
    color:red;
  }
  
  .footer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#010156;
  }
  
  .grid_address{
   padding-left: 25px; 
   padding-top: 15px;
   padding-bottom: 20px;
   color: white;
   
  }
  
  .grid_contact{
    color: white;
    padding-top: 20px;
    padding-left: 20px; 
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }
  
  
  
  
  .grid_items{
    color: white;
    padding-left: 25px; 
    padding-top: 20px;
  }
  
  @media (max-width: 936px) { 
    .footer{
        display: block;
        width: 100%;
    }
    .grid_items{
        text-align: center;
    }
    .grid_address{
        text-align: center;
    }
    .grid_contact{
        text-align: center;
    }
  }
  @media (max-width: 450px) { 
    .footer{
        display: block;
        width: 100%;
    }
    .grid_items{
        text-align: center;
        font-size: medium;
        padding-left: 2px;
        padding-right: 2px;
    }
    .grid_address{
        text-align: center;
        font-size: medium;
        padding-left: 2px;
        padding-right: 2px;
    }
    .grid_contact{
        text-align: center;
    }
  }
  @media (max-width: 375px) { 
    .footer{
        display: block;
        width: 100%;
    }
    .grid_items{
        text-align: center;
        font-size: medium;
        padding-left: 0px;
        padding-right: 0px;
    }
    .grid_address{
        text-align: center;
        font-size: medium;
        padding-left: 0px;
        padding-right: 0px;
    }
    .grid_contact{
        text-align: center;
    }
  }
  
  
  .sub_news{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      animation: pulse 1.5s infinite;
      margin: 0px;
      text-align: center;
      display: inline-block;
      font-weight: bolder;
      font-size: larger;
  }
  
    
    @keyframes pulse {
        0% {
            color: violet;
            border-color: violet;
        }
        20% {
            color: indigo;
            border-color: indigo;
        }
        40% {
            color: blue;
            border-color: blue;
        }
        60% {
            color: green;
            border-color: green;
        }
        80% {
            color: yellow;
            border-color: yellow;
        }
        100% {
            color: red;
            border-color: red;
        }
    }